# for и вложенные списки

In [8]:
revenues = [
    [500, 500, 600, 600, 450, 500, 700, 600, 650, 700, 750, 700],
    [600, 650, 300, 700, 750, 500, 800, 850, 900, 900, 750, 800],
    [900, 800, 700, 600, 750, 850, 950, 900, 900, 700, 700, 600]
]

Обход вложенных списков с выводом элементов:

In [9]:
for year_revenue in revenues:
    for month_revenue in year_revenue:
        print(month_revenue)

500
500
600
600
450
500
700
600
650
700
750
700
600
650
300
700
750
500
800
850
900
900
750
800
900
800
700
600
750
850
950
900
900
700
700
600

Поиск минимального значения во вложенном списке:

In [10]:
min_month_revenue = None
for year_revenue in revenues:
    for month_revenue in year_revenue:
        if min_month_revenue is None or min_month_revenue > month_revenue:
            min_month_revenue = month_revenue

print(min_month_revenue)

300

Упрощаем код с помощью `float("inf")`:

In [11]:
min_month_revenue = float("inf")
for year_revenue in revenues:
    for month_revenue in year_revenue:
        if min_month_revenue > month_revenue:
            min_month_revenue = month_revenue

print(min_month_revenue)

300

Еще раз упрощаем код, на этот раз с помощью вложенной функции `min()` ищем минимальное значение среди всех месяцев текущего года, а затем внешней `min()` выбираем минимальное значение из двух элементов.

In [12]:
min_month_revenue = float("inf")
for year_revenue in revenues:
    min_month_revenue = min(min(year_revenue), min_month_revenue)
    
print(min_month_revenue)

300

Вывод всех кортежей из списка `revenue2022`:

In [17]:
revenue2022 = [
    ("Январь", 500), ("Февраль", 500), ("Март",    600), ("Апрель",  600), ("Май",  450),  ("Июнь",  500),
    ("Июль",  700),  ("Август", 600), ("Сентябрь", 650), ("Октябрь", 700), ("Ноябрь", 750), ("Декабрь", 700)
]

for month_revenue in revenue2022:
    print(month_revenue)

('Январь', 500)
('Февраль', 500)
('Март', 600)
('Апрель', 600)
('Май', 450)
('Июнь', 500)
('Июль', 700)
('Август', 600)
('Сентябрь', 650)
('Октябрь', 700)
('Ноябрь', 750)
('Декабрь', 700)

Извлекаем данные из кортежей и выводим с форматированием:

In [18]:
for month_revenue in revenue2022:
    month = month_revenue[0]
    revenue = month_revenue[1]
    print(f"{month:<10}{revenue:>6}")

Январь       500
Февраль      500
Март         600
Апрель       600
Май          450
Июнь         500
Июль         700
Август       600
Сентябрь     650
Октябрь      700
Ноябрь       750
Декабрь      700

Распаковываем кортеж в переменные:

In [19]:
for month_revenue in revenue2022:
    month, revenue = month_revenue
    print(f"{month:<10}{revenue:>6}")

Январь       500
Февраль      500
Март         600
Апрель       600
Май          450
Июнь         500
Июль         700
Август       600
Сентябрь     650
Октябрь      700
Ноябрь       750
Декабрь      700

Распаковка сразу в цикле `for`:

In [20]:
for month, revenue in revenue2022:
    print(f"{month:<10}{revenue:>6}")

Январь       500
Февраль      500
Март         600
Апрель       600
Май          450
Июнь         500
Июль         700
Август       600
Сентябрь     650
Октябрь      700
Ноябрь       750
Декабрь      700