# enumerate

In [1]:
months = ["январь", "февраль", "март", "апрель", "май", "июнь",
          "июль", "август", "сентябрь", "октябрь", "ноябрь", "декабрь"]

for month in months:
    print(month)

январь
февраль
март
апрель
май
июнь
июль
август
сентябрь
октябрь
ноябрь
декабрь

Получение индексов элементов через переменную `counter`:

In [2]:
counter = 0
for month in months:
    print(counter, month)
    counter += 1

0 январь
1 февраль
2 март
3 апрель
4 май
5 июнь
6 июль
7 август
8 сентябрь
9 октябрь
10 ноябрь
11 декабрь

Получение номеров месяцев с помощью `range()`:

In [4]:
for month_idx in range(len(months)):
    month = months[month_idx]
    print(month_idx + 1, month)

1 январь
2 февраль
3 март
4 апрель
5 май
6 июнь
7 июль
8 август
9 сентябрь
10 октябрь
11 ноябрь
12 декабрь

Получение индексов и месяцев с помощью `enumerate()`:

In [5]:
for month_idx in enumerate(months):
    print(month_idx)

(0, 'январь')
(1, 'февраль')
(2, 'март')
(3, 'апрель')
(4, 'май')
(5, 'июнь')
(6, 'июль')
(7, 'август')
(8, 'сентябрь')
(9, 'октябрь')
(10, 'ноябрь')
(11, 'декабрь')

Получение индексов и месяцев с помощью `enumerate()` с распаковкой кортежа:

In [6]:
for counter, month in enumerate(months):
    print(counter, month)

0 январь
1 февраль
2 март
3 апрель
4 май
5 июнь
6 июль
7 август
8 сентябрь
9 октябрь
10 ноябрь
11 декабрь

Вывод номера и названия месяца с помощью `enumerate()`:

In [7]:
for counter, month in enumerate(months, start=1):
    print(counter, month)

1 январь
2 февраль
3 март
4 апрель
5 май
6 июнь
7 июль
8 август
9 сентябрь
10 октябрь
11 ноябрь
12 декабрь

Разбиваем данные по кварталам:

In [8]:
for counter, month in enumerate(months, start=1):
    if counter % 3 == 1:
        print("Квартал", counter // 3 + 1)
    print("    {}".format(month))

Квартал 1
    январь
    февраль
    март
Квартал 2
    апрель
    май
    июнь
Квартал 3
    июль
    август
    сентябрь
Квартал 4
    октябрь
    ноябрь
    декабрь