# for и сортировка списков со словарями

In [1]:
cities_t = [
    ("Каир", 16_925_000),
    ("Токио", 38_505_000),
    ("Дакка", 18_595_000),
    ("Шанхай", 22_125_000),
    ("Мехико", 20_395_000),
    ("Пекин", 19_430_000),
    ("Мумбаи", 23_645_000),
    ("Дели", 28_125_000),
    ("Осака", 19_281_000),
    ("Сан-Паулу", 20_935_000)
]

cities_d = [
    {"name": "Каир", "population": 16_925_000},
    {"name": "Токио", "population": 38_505_000},
    {"name": "Дакка", "population": 18_595_000},
    {"name": "Шанхай", "population": 22_125_000},
    {"name": "Мехико", "population": 20_395_000},
    {"name": "Пекин", "population": 19_430_000},
    {"name": "Мумбаи", "population": 23_645_000},
    {"name": "Дели", "population": 28_125_000},
    {"name": "Осака", "population": 19_281_000},
    {"name": "Сан-Паулу", "population": 20_935_000}
]

Сортировка списка с кортежами (по возрастанию населения).

In [2]:
for city in sorted(cities_t, key=lambda c: c[1]):
    name = city[0]
    population = city[1]
    print(f"{name:<10}{population:>12,}")

Каир        16,925,000
Дакка       18,595,000
Осака       19,281,000
Пекин       19,430,000
Мехико      20,395,000
Сан-Паулу   20,935,000
Шанхай      22,125,000
Мумбаи      23,645,000
Дели        28,125,000
Токио       38,505,000

Сортировка списка со словарямии (по возрастанию населения):

In [3]:
for city in sorted(cities_d, key=lambda c: c["population"]):
    name = city["name"]
    population = city["population"]
    print(f"{name:<10}{population:>12,}")

Каир        16,925,000
Дакка       18,595,000
Осака       19,281,000
Пекин       19,430,000
Мехико      20,395,000
Сан-Паулу   20,935,000
Шанхай      22,125,000
Мумбаи      23,645,000
Дели        28,125,000
Токио       38,505,000

Список сотрудников:

In [4]:
employees = [
    {"name": "Иван Иванов",    "job": {"role": "Программист", "salary": 150_000}},
    {"name": "Дмитрий Петров", "job": {"role": "Менеджер",    "salary": 120_000}},
    {"name": "Олег Осипов",    "job": {"role": "Дизайнер",    "salary": 140_000}},
    {"name": "Ирина Смирнова", "job": {"role": "Программист", "salary": 160_000}},
    {"name": "Юлия Соколова",  "job": {"role": "Дизайнер",    "salary": 150_000}},
    {"name": "Семен Сорокин",  "job": {"role": "Архитектор",  "salary": 130_000}}
]

Сортировка списка в порядке увеличения зарплаты сотрудников:

In [5]:
for employee in sorted(employees, key=lambda e: e["job"]["salary"]):
    name = employee["name"]
    salary = employee["job"]["salary"]
    print(f"{name:<20}{salary:>12,}")

Дмитрий Петров           120,000
Семен Сорокин            130,000
Олег Осипов              140,000
Иван Иванов              150,000
Юлия Соколова            150,000
Ирина Смирнова           160,000