## Преобразование типов

Обычно информация, которую вводит пользователь, поступает в программу **в виде строки** (str). Даже если пользователь передает число.

In [1]:
# В переменной salary храниться строка, но она содержит цифры.
salary = "50000"

In [2]:
# Вычисляем годовую зарплату сотрудника
year_salary = salary * 12
print(year_salary)

500005000050000500005000050000500005000050000500005000050000

## Преобразование к целым числам с помощью `int()`

Для преобразования строк или вещественных чисел к целым числам, нужно использовать универсальную функцию `int()`.

In [3]:
# Вычисляем годовую зарплату сотрудника с предварительным преобразованием к целому числу.
year_salary = int(salary) * 12
print(year_salary)

600000

In [4]:
# Неудачная попытка преобразовать строку с точкой к целому числу.
salary = "50000.5"
year_salary = int(salary) * 12
print(year_salary)

ValueError: invalid literal for int() with base 10: '50000.5'

## Преобразование к вещественным числам с помощью `float()`

Для преобразования строк или целых чисел к вещественным числам, нужно использовать универсальную функцию `float()`.

In [5]:
# Успешное преобразование строки с точкой к вещественному числу.
salary = "50000.5"
year_salary = float(salary) * 12
print(year_salary)

600006.0

In [11]:
# Двойное преобразование - спервка к float, а затем к int.
salary = "50000.5"
year_salary = int(float(salary)) * 12
print(year_salary)

600000

In [9]:
# Неудачная попытка склеить вещественное число со строкой:
salary = "50000.5"
year_salary = float(salary) * 12
print("Ваша годовая зарплата: " + year_salary)

TypeError: can only concatenate str (not "float") to str

## Преобразование к строке с помощью функции `str()`

Для преобразования целых и вещественных чисел к строковому типу, нужно использовать универсальную функцию `str()`.<br>
Функция `str()` может преобразовывать к строке и другие типы данных: дату и время, списки, кортежи, словари и тд.

In [10]:
# Успешная склейка строки и строки:
salary = "50000.5"
year_salary = float(salary) * 12
print("Ваша годовая зарплата: " + str(year_salary))

Ваша годовая зарплата: 600006.0